<div id="contenedor">
<section>
    <div id="banner">
        <img id="promo" src="assets/img/imagenPromocional.jpg" alt="banner">
    </div>
</section>

<section id="servicios">
    
    <aside>
        <h5> AFILIACIONES</h5>           
        <hr/>
        <img id="icon" class="imgcentro"                 
        src="assets/img/user_84308.png" alt="imagen icono">                

        <P>En esta sección puede consultar los requisitos a presentar y las condiciones para los distintos tipos de afiliación.-
            -Afiliación de Titular y Grupo Familiar.-                    
        </P>

        <button class="boton">LEER MAS</button>
    </aside>
    <aside>
        <h5> CARTILLA MEDICA</h5>        
        <hr/>
        <img id="icon"  class="imgcentro" 
        src="assets/img/umbrella_icon-icons.com_49968.png" alt="icono sombrilla">

        <p> Tenemos a disposicion una amplia atencion, en el plan de OSEF Obra Social más básico, como su propio nombre lo indica; Su cobertura se extiende a ...
        </p>
        <button class="boton">LEER MAS</button>
    </aside>
    <aside>
        <h5> SUCURSALES </h5>              
        <hr/>                
        <img id="icon"  class="imgcentro" 
        src="assets/img/fullhouse_house_4913.png" alt="icono sucursal">

        <p> Aqui te mostramos nuestras Sucursales, en todo el pais de OSEF Obra Social PLUS, la mayor calidad para usted y su grupo familiar, consulte...
        </p>
        <button class="boton">LEER MAS</button>
    </aside>

    <aside>
        <h5> MEDIOS DE PAGO</h5>               
        <hr/>
        <img id="icon"  class="imgcentro" 
        src="assets/img/suitcase_96941.png" alt="icono">

        <p> Confiamos en los mejores medios de Pago, para no dejarte sin servicios, cuando mas nos necesites alli estaremos!! Su cobertura se extiende a ...
        </p>
        <button class="boton">LEER MAS</button>
    </aside>
</section>
</div>